flows.json
[{"id":"2b31fdba.94b692","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6b32a3ad.63669c","type":"function","z":"2b31fdba.94b692","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\n//following are required to receive a token\nvar apikey=\"5PmHDfbhlxobZCZQq-H1VhBy2Ng9Wsck9dizVjdpLUZ4\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["3fb52375.9b212c"]]},{"id":"9db8cc59.d4afb","type":"http request","z":"2b31fdba.94b692","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f5a44274-9755-49dc-b751-471458886317/deployments/dcf60506-08d5-4c71-80ea-9ffc788aa058/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["3bdbfd58.7382b2","63b64a1c.060c94"]]},{"id":"f3ba500a.6ccee","type":"debug","z":"2b31fdba.94b692","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"63b64a1c.060c94","type":"function","z":"2b31fdba.94b692","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["f3ba500a.6ccee","de93ecbe.6c5db"]]},{"id":"3bdbfd58.7382b2","type":"debug","z":"2b31fdba.94b692","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"be03f7cd.1ed578","type":"function","z":"2b31fdba.94b692","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"f5a44274-9755-49dc-b751-471458886317\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Country', 'Year', 'Status', 'Adult Mortality', 'infant deaths',\n       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ','Polio','Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'\n      ],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["9db8cc59.d4afb"]]},{"id":"3fb52375.9b212c","type":"http request","z":"2b31fdba.94b692","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["be03f7cd.1ed578"]]},{"id":"de93ecbe.6c5db","type":"ui_text","z":"2b31fdba.94b692","group":"6766b2c0.26236c","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"afe9ca9d.ef0218","type":"ui_form","z":"2b31fdba.94b692","name":"","label":"","group":"6766b2c0.26236c","order":0,"width":0,"height":0,"options":[{"label":"Country\t","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"text","required":true,"rows":null},{"label":"Status\t","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality\t","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths\t","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":" BMI ","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":100,"wires":[["6b32a3ad.63669c"]]},{"id":"6766b2c0.26236c","type":"ui_group","z":"","name":"Life","tab":"da33032c.eea13","order":1,"disp":true,"width":"6","collapse":false},{"id":"da33032c.eea13","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]